Day 2
200114(화)

# 문자열

문자들의 집합으로 작은따옴표('') 또는 큰따옴표("")로 묶임

In [1]:
a = 'hello'

In [3]:
a

'hello'

In [2]:
type(a)

str

In [4]:
"0904" #문자열

'0904'

In [5]:
'''
a
b
c

여러줄 주석을 말한다.
'''

'\na\nb\nc\n\n여러줄 주석을 말한다.\n'

문자열 연결 및 반복

'+' 연산자
- 자료형이 동일한 두 시퀀스 자료를 연결하여 새로운 시퀀스 자료로 생성
- 문자열 사이에 사용하여 합치는 기능을 함

'*' 연산자
시퀀스 자료를 여러 번 반복하여 새로운 시퀀스를 생성

# 문자열 인덱싱

인덱스를 통해 해당 값에 접근
특정 구간의 값을 취할 수 있음(한 번에 여러 개 추출)
시작 인덱스부터 끝 인덱스까지의 자료를 취하라는 의미
스텝은 자료를 취하는 간격으로 생략해도 되며 기본값은 1

In [6]:
word = 'pyhton'

In [7]:
word[0]

'p'

In [8]:
word[0:2]

'py'

In [9]:
word[3:]

'ton'

In [10]:
word[-1]

'n'

In [14]:
num = "1234567"

In [15]:
num[0:4:2]

'13'

In [16]:
num[::-1]

'7654321'

In [17]:
num[::2]

'1357'

맴버 확인 - 문자열
'in'키워드를 사용하여 특정 값이 시퀀스 자료의 요소로 속해 있는지 확인
<값> in <자료>

In [19]:
word = "python"

In [20]:
'o' in word

True

In [21]:
'x' in word

False

In [22]:
'on' in word

True

 # 문자열 관련 함수

In [25]:
# len()
# 시퀀스 자료의 크기를 알 수 있음
# 문자열의 문자 개수 반환하는 내장 함수
len(word)

6

In [26]:
len("Python is fun!")

14

In [28]:
# index
s = 'Pyhton is fun!'
# 문자열 중 문자 'n'이 처음으로 나온 위치 반환
s.index('n')

5

In [30]:
# count()
# 문자열 중 문자 'n'의 개수 반환
s.count('n')

2

In [31]:
# join
a = ','
a.join('1234') #문자열 합해줌

'1,2,3,4'

In [32]:
# join
b = ' '
b.join('1234') #문자열 합해줌

'1 2 3 4'

In [34]:
# join
c = 'space '
c.join('1234') #문자열 합해줌

'1space 2space 3space 4'

# 실습 문제 3
문자열의 마지막 문자를 구해서 출력해 보자.

In [35]:
word = 'Hello'
word[-1] # 음의 인덱스를 사용

'o'

In [37]:
word[(len(word)-1)] # len() 함수 이용

'o'

# 문자열 관련 함수

split()
문자열을 공백이나 다른 문자로 분리해서 리스트로 반환

In [38]:
s1 = "python is fun"
s1.split() # 공백으로 분리

['python', 'is', 'fun']

In [39]:
s2 = "one:two:three"
s2.split(":") # :(콜론)으로 분리

['one', 'two', 'three']

# 리스트

여러 정보를 하나로 묶어서 저장하고 관리할 수 있게 함
선언
리스트이름 = [값1, 값2, 값3]
: [] 안에 쉼표로 구분하여 정보를 적어주면 됨
문자열을 원소로 가지는 예제
Empty list
empty_list = []

- 다른 타입을 가져도 된다.
- 리스트는 리스트를 가질 수 있다.

# 리스트 인덱싱

인덱스
: 원소가 배열된 순서를 타내냄. (0번부터 시작)

# 리스트 슬라이싱
특정 구간의 값을 취할 수 있음(한 번에 여러 개 추출)

# 리스트 더하기 및 반복

In [40]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [41]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

맴버확인- 리스트

In [42]:
fruit = ['banana', 'apple', 'orange']
'apple' in fruit

True

In [46]:
'apple' not in fruit

False

In [45]:
a[2] = 7 #수정 가능함
a

[1, 2, 7]

# 리스트 패킹, 언패킹
패킹: 한 변수에 여러 개의 데이터를 넣는 것
언패킹: 한 변수의 데이터를 각각의 변수로 반환

In [47]:
t = [1,2,3] # 1,2,3,을 변수 t에 패킹
a, b, c = t # t값 1,2,3,을 a,b,c에 언패킹
print(a,b,c)

1 2 3

In [48]:
x, y = t
print(x,y)
# 개수가 맞지 않으면 문제가 생긴다!

ValueError: too many values to unpack (expected 2)

# 실습문제

In [64]:
date = input("날짜(연/월/일) 입력: ")

날짜(연/월/일) 입력: 2020/01/13

In [65]:
date2 = date.split('/')
year, month, day = date2
# 언패킹 사용
print("입력한 날짜의 10년 후는 %s년 %s월 %s일 " %(year, month, day))

입력한 날짜의 10년 후는 2020년 01월 13일

In [66]:
# index 사용
print("입력한 날짜의 10년 후는 %s년 %s월 %s일 " %(date2[0], date2[1], date2[2]))

입력한 날짜의 10년 후는 2020년 01월 13일

In [70]:
# index 사용2
print("입력한 날짜의 10년 후는 %s년 %s월 %s일 " %(date[0:4], date[5:7], date[8:]))

입력한 날짜의 10년 후는 2020년 01월 13일

In [74]:
date3 = list(map(int, date2))

In [75]:
date3

[2020, 1, 13]

In [77]:
type(date3[0])

int

In [78]:
type(date2[0])

str

# 관계 연산자와 논리 연산자

In [79]:
a = 99
(a > 100) and (a< 200)

False

In [80]:
(a > 100) or (a < 200)

True

In [81]:
not (a == 100)

True

# if문
조건문의 결고가 참이면 A를 수행
블럭
- 여러 코드가 이루는 일정한 구역
- 파이썬의 경우, 들여쓰기로 구역을 나눔
- 들여쓰기는 Space, Tab 둘 다 사용 가능
 - 스페이스 4칸 사용 권장

In [83]:
a - 200
if a <100:
    print("참")
    print("100보다 작다")
else : 
    print("거짓")
    print("100보다 크거나 같다")
print("프로그램 끝")

참
100보다 작다
프로그램 끝

# if-elif-else

In [85]:
num = int(input("정수를 입력하시오: "))

정수를 입력하시오: 10

In [86]:
num = 10
if num > 0:
    print("양수입니다.")
elif num == 0:
    print("0입니다.")
else:
    print("0입니다")

양수입니다.

#if 문 응용
리스트와 함께 사용

In [87]:
1 in [1,2,3]

True

In [124]:
score = input("영어 점수와 수학 점수를 입력하세요. ")

영어 점수와 수학 점수를 입력하세요. 35 95

In [125]:
eng, math = list(map(int, score.split()))

In [126]:
if (eng + math < 110):
    print("불합격: 총합 점수 부족")
else:
    if math < 40:
        print("불합격: 수학 점수 부족")
    elif eng < 40:
        print("불합격: 영어 점수 부족")
    else:
        print("합격")

불합격: 영어 점수 부족

# 조건문 - 실습2

In [127]:
num = input("세 개의 정수를 입력하시오: ")

세 개의 정수를 입력하시오: 1 2 3

In [128]:
num1, num2, num3 = list(map(int, num.split()))

In [131]:
num1, num2, num3 = 30, 22, 50

In [132]:
if num1 > num2:
    if num1 > num3:
        print("가장 큰 수는 %d입니다." %(num1))
    else :
        print("가장 큰 수는 %d입니다." %(num3))
else:
    if num2 > num3:
        print("가장 큰 수는 %d입니다." %(num2))
    else:
        print("가장 큰 수는 %d입니다." %(num3))

가장 큰 수는 50입니다.

# while 문

In [133]:
n = 1
while n <= 5:
    print(n)  # shift + tab 누르면 함수 자세히 볼 수 있다.
    n += 1

1
2
3
4
5

In [134]:
n = 1
while n <= 5:
    print(n, end = ", ")  # shift + tab 누르면 함수 자세히 볼 수 있다.
    n += 1

1, 2, 3, 4, 5,

# range() 함수

In [136]:
list(range(5))

[0, 1, 2, 3, 4]

In [137]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [139]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

In [148]:
for x in [2, 4, 6, 8, 10]:
    print(x)

2
4
6
8
10

In [146]:
for x in "Hello":
    print(x)

H
e
l
l
o

In [149]:
for x in range(10):
    print("Hi")

Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi

# 반복문 - 실습1 (구구단 출력)
입력한 숫자의 구구단을 출력하는 프로그램 작성하기

In [207]:
dan = int(input("출력하고 싶은 단을 입력하세요: "))

출력하고 싶은 단을 입력하세요: 7

In [213]:
for i in range(1,10):
    print("%d * %d = %d" %(dan, i, dan*i))

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

# 반복문 - 실습2
*(별) 출력 프로그램

In [232]:
num = input("input an integer ")

input an integer 3159

In [233]:
for i in range(len(num)):
    for i in range(int(num[i])):
        print("*", end = "")
    print("")

***
*
*****
*********

In [234]:
for x in num:
    for i in range (int(x)):
        print("*", end = '')
    print()

***
*
*****
*********

In [235]:
for x in num:
    print(int(x)* "*")

***
*
*****
*********

In [243]:
for x in num:
    for y in range(int(x)):
        print("*", end = " ")
    print()

* * *
*
* * * * *
* * * * * * * * *

# break, continue

In [150]:
# break
# 반복문 순회 도중 break 문을 만나면 내부 블록 벗어남
for i in range(1,11):
    if i > 5:
        break
    print(i)

1
2
3
4
5

In [151]:
# continue
# 반복문 순회 도중 continue 문을 만나면 그 아래의 문장은 해당 반복에 한해서 건너뛴다.
for i in range(1,11):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

# 리스트 관련 함수

In [153]:
colors = list() # 또는 colors = []

In [154]:
colors

[]

In [155]:
# append
colors.append("red")

In [157]:
colors.append("green")

In [158]:
colors.append("blue")

In [159]:
print(colors)

['red', 'green', 'blue']

In [160]:
# remove
colors.append("red")
print(colors)

['red', 'green', 'blue', 'red']

In [161]:
colors.remove('red')
print(colors)
# 제일 처음 했던 거 지운다.

['green', 'blue', 'red']

In [162]:
a = [1, 7, 9, 2, 5]

In [165]:
a.sort()
a

[1, 2, 5, 7, 9]

In [166]:
max(a)

9

In [167]:
min(a)

1

In [168]:
sum(a)

24

# 리스트 - 실습1

"done"을 입력할 때까지 사용자로부터 숫자를 입력 받아 리스트에 저장하고, "done"을 입력하면, 리스트의 평균, 최댓값과 최솟값을 출력하는 프로그램을 작성하시오. (힌트, sum(), max(), min() 함수를 사용)

In [271]:
lst = []

while True:
    num = input("Enter a number: ")
    if num == "done":
        break
    lst.append(num)

lst = list(map(float,lst))
print(lst)
print("Average:", sum(lst)/len(lst))
print("Maximum:", max(lst))
print("Minimum:", min(lst))

Enter a number: 7
Enter a number: 2
Enter a number: 9
Enter a number: 3
Enter a number: 5
Enter a number: done
[7.0, 2.0, 9.0, 3.0, 5.0]
Average: 5.2
Maximum: 9.0
Minimum: 2.0

# 리스트 관련 함수

## sort

In [244]:
a = [1, 7, 9, 2, 5]

In [245]:
a.sort

In [246]:
a

[1, 7, 9, 2, 5]

In [266]:
f = ['banana', 'apple', 'orange']

In [267]:
f.sort()

In [268]:
f

['apple', 'banana', 'orange']

In [269]:
b = a.sort() # sort는 return 값이 없다.
print(b)     # 반환하는 값이 없어서 None

None

## sorted (리스트 이름)

In [250]:
a.sort(reverse = True) #shift + tab

In [251]:
a

[9, 7, 5, 2, 1]

In [252]:
f = ['banana', 'apple', 'orange']
f2 = sorted(f)
print(f2)

['apple', 'banana', 'orange']

## reverse (리스트 이름)

In [255]:
a = [1, 7, 9, 2, 5]
a.reverse()
a

[5, 2, 9, 7, 1]

## 리스트의 최댓값, 최솟값, 총합

In [256]:
a = [45, 87, 99, 21, 55]
max(a)

99

In [257]:
min(a)

21

In [258]:
sum(a)

307