Day 3
200115(수)

# 튜플, 집합, 딕셔너리, 파일

# 튜플
- 리스트와 유사하지만 값을 수정할 수 없으며, 읽기만 가능
- 튜플은 괄호()로 생성

In [5]:
t1 = ()
type(t1)

tuple

In [11]:
t2 = (1) # 하나인 경우는 연산 우선 순위 괄호로 생각함

In [12]:
type(t2)

int

In [13]:
t3 = (1,2,3)

In [14]:
t4 = 1,2,3, # 괄호 생략 가능

- 프로그램이 동작하는 중 변경되지 않는 데이터의 저장

In [15]:
t = (1,2,3,4,5,6)

In [16]:
t[0]

1

In [18]:
t[:3]

(1, 2, 3)

In [19]:
t[4:6]

(5, 6)

In [21]:
t[0] = 7 # 튜플은 수정이 불가

TypeError: 'tuple' object does not support item assignment

In [23]:
t1 = (1,2)
t2 = ('a','b')
t3 = t1 + t2 # 더하기
t3

(1, 2, 'a', 'b')

In [29]:
t1 *3 # 곱하기

(1, 2, 1, 2, 1, 2)

# 튜플의 패킹과 언패킹

In [25]:
# 튜플 패킹
# : 여러 데이터를 튜플로 묶는 것
a = 1,2,3
a

(1, 2, 3)

In [26]:
# 튜플 언패킹
# : 튜플의 각 항목을 여러 개의 변수에 할당하는 것
one, two, three = a
print(one, two, three)

1 2 3

In [27]:
a.index(1) # index() 함수

0

In [28]:
a.count(1) # count()  함수

1

print("%d * %d " % ()) # 튜플 형태로 사용한다.

# 함수의 리턴 값을 반환할 때 튜플이 사용되기도 한다.

# 집합
- !!순서 없이!! 항목을 저장, 항목이 중복 될 수 없음 -> indexing, slicing이 안됨

In [31]:
s1 = set([1,2,3]) # 리스트 기반
s2 = {3,4,5}
word = "Hello" *2

In [36]:
type(s1)

set

In [32]:
word

'HelloHello'

In [34]:
word_list = list(word)
word_list

['H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o']

In [35]:
s3 = set(word_list)
s3

{'H', 'e', 'l', 'o'}

In [37]:
s4 = set("Hello") # 문자열 기반

In [40]:
# 자료형의 중복을 제거하기 위한 필터로 종종 사용
t = tuple(s4)
t

('o', 'H', 'e', 'l')

In [42]:
ss1 = set([1,2,3,4,4,5])
ss1

{1, 2, 3, 4, 5}

# 집합 관련 함수

In [43]:
s = {1,2,3,4,5,3,4}
s

{1, 2, 3, 4, 5}

In [45]:
s.add(10)
s

{1, 2, 3, 4, 5, 10}

In [46]:
s.remove(2)
s

{1, 3, 4, 5, 10}

In [47]:
s.update([1,3,5,7,9])
s

{1, 3, 4, 5, 7, 9, 10}

In [49]:
s.discard(7)
s

{1, 3, 4, 5, 9, 10}

In [50]:
s.clear()
s

set()

# 집합
- 합집합, 교집합, 차집합

In [51]:
s1 = {1,2,3}
s2 = {3,4,5}

In [52]:
# 합집합
s1.union(s2)

{1, 2, 3, 4, 5}

In [53]:
# 교집합
s1.intersection(s2)

{3}

In [54]:
# 차집합(-) 
s1.difference(s2)

{1, 2}

In [55]:
s1-s2

{1, 2}

In [56]:
# 합집합(|)
s1|s2

{1, 2, 3, 4, 5}

In [57]:
# 교집합 (&)
s1 & s2

{3}

# 딕셔너리
- 중괄호{}로 묶여 있으며, key와 value의 쌍으로 이루어짐
- d = {key:value, key:value2}
- key로 value를 관리 
 -   key는 중복될 수 없음 예)학번, 주민번호
- 항목들 사이에 순서가 없음

In [58]:
d = {}

In [59]:
d['kim'] = 1 # 새항목추가

In [60]:
d['park'] = 2 # 새항목추가

In [61]:
d

{'kim': 1, 'park': 2}

In [62]:
d['park']

2

In [63]:
d['kim'] = 3 # 이미 있는 키의 경우 기존의 값 변경

In [64]:
d

{'kim': 3, 'park': 2}

In [65]:
d['youn'] = 1

In [66]:
d

{'kim': 3, 'park': 2, 'youn': 1}

In [67]:
d.keys() # 키만 추출

dict_keys(['kim', 'park', 'youn'])

In [68]:
d.values() # 값만 추출

dict_values([3, 2, 1])

In [70]:
# 키와 값의 항목을 튜플 형태로
d.items()

dict_items([('kim', 3), ('park', 2), ('youn', 1)])

In [71]:
# 딕셔너리에 키가 있는 경우
'kim' in d

True

In [72]:
# 딕셔너리에 키가 있는 없는
'lee' in d

False

In [73]:
d

{'kim': 3, 'park': 2, 'youn': 1}

In [74]:
# 항목 1개 삭제
del d['kim']
d

{'park': 2, 'youn': 1}

In [75]:
d.clear()
d

{}

# 실습1) for 문을 사용하여 딕셔너리 타입의 d의 모든 value를 출력해 보시오.

In [79]:
d = {'youn':1, 'park': 2, 'kim':10}

In [80]:
d.values()

dict_values([1, 2, 10])

In [82]:
for i in d.values():
    print(i, end = ' ')

1 2 10

In [84]:
# key가 기본이라서 key값이 나온다.
for x in d:
    print(x)

youn
park
kim

In [86]:
for k in d:
    print(d[k])

1
2
10

In [88]:
d.items()

dict_items([('youn', 1), ('park', 2), ('kim', 10)])

In [89]:
for item in d.items():
    print(item)

('youn', 1)
('park', 2)
('kim', 10)

In [90]:
for k, v in d.items():
    print(v)

1
2
10

# 딕셔너리 - 실습 1
어떤 문장을 입력 받으면 해당 문장에서 각 알파벳이 몇 개씩 나오는지 저장하는 딕셔너리를 만든 후, 아래와 같이 출력하시오.

In [ ]:
sentence = input("enter a sentence: ")

In [132]:
sentence = "Hello"

In [145]:
dic = {}

for ch in sentence:
    if ch in dic:
        dic[ch] += 1
    else:
        dic[ch] = 1
print(dic)

{'H': 1, 'e': 1, 'l': 2, 'o': 1}

In [130]:
dic = {}

for ch in sentence:
    dic[ch] = sentence.count(ch)
print(dic)

{'H': 1, 'e': 1, 'l': 2, 'o': 1}

In [140]:
dic = {}

for ch in set(sentence):
    dic[ch] = sentence.count(ch)
print(dic)

{'o': 1, 'H': 1, 'e': 1, 'l': 2}

# 파일에서 데이터 읽기

In [ ]:
f = open("input.txt", "r")
f.close()

In [147]:
# 파일 쓰기
f = open("new.txt", "w")

for i in range(1,6):
    data = "%d line\n" % i
    f.write(data)

f.close()

In [148]:
# 파일 읽기
fr = open("new.txt", "r")
line = fr.readline()


#fr.close()

In [150]:
line

'1 line\n'

In [151]:
line = fr.readline()
line

'2 line\n'

In [152]:
# readlines()
# 파일 읽기
fr = open("new.txt", "r")
line = fr.readlines()

fr.close()

In [153]:
line

['1 line\n', '2 line\n', '3 line\n', '4 line\n', '5 line\n']

In [154]:
# read()
fr = open("new.txt", "r")
data = fr.read()

#fr.close()

In [155]:
data

'1 line\n2 line\n3 line\n4 line\n5 line\n'

In [157]:
# for 문 사용
fr = open("new.txt", "r")
for line in fr:
    print(line, end = '')

#fr.close()

1 line
2 line
3 line
4 line
5 line

# 파일 - 실습 1

In [200]:
txt = open("text.txt", "r")

data = txt.readlines()
#print(data)

diction = {}

data_list = []
for i in range(len(data)):
    data_list += data[i].split()
    

for ch in data_list:
    if ch in diction:
        diction[ch] += 1
    else:
        diction[ch] = 1

print(diction)
#txt.close()

{'first': 1, 'line': 3, 'second': 1, 'third': 1}

# 파일 - 실습 2

In [201]:
import os

In [206]:
os.path.exists("test.txt") # 파일이나 디렉토리가 존재하는지 검사

False

In [207]:
os.path.exists("text.txt")

True

# 파일에 내용 추가하기

append 모드
파일이 없으면 처음부터 시작
파일이 있으면 그 이후부터 시작

In [158]:
f = open("new.txt", "a")

for i in range(6,11):
    f.write("%d line\n" %i)

f.close()

# 파일을 열고 자동으로 닫기(with~as)

open() ~ close() 사용

with open() as 사용

# 함수

사용 이유
 코드 재사용
 중복되는 부분을 한 번만 작성. 코드를 간결하게 만들어줌
 절차적 분해
 한 번에 큰 처리 절차를 구현하는 것보다 작은 작업을 구현하는
것이 더 쉬움

In [208]:
# 예시
#함수 정의
def add(a, b):
    result = a + b
    return result

In [209]:
add(2,4)

6

In [210]:
#함수 호출
add_res = add(100, 200)
print(add_res)

300

# 연습문제 0
 len() 구현

In [218]:
def my_len(l):
    length = 0
    for ch in l:
        length += 1
    
    return length

In [228]:
a = [5,5,6,7,8,3]
b = "I am a boy."
print(len(a), len(b)) # 내장 함수 len()
print(my_len(a), my_len(b)) # my_len()

6 11
6 11

# 함수 – 반환 값 (Return Value)

In [230]:
# 반환 값이 있는 경우
def say():
    return "hello"
a = say() # a의 값: “hello”

In [233]:
a

'hello'

In [234]:
# 반환 값이 없는 경우
def say():
    print("hello")
a = say() # a의 값: None

hello

In [235]:
a # None을 반환

# 함수 – 매개변수 (Parameter)

In [ ]:
# 매개변수가 있는 경우
def add(a, b):
    result = a + b
    return result

In [236]:
a=add(1, 2)

In [237]:
a

3

In [238]:
a=add(2, 3)

In [239]:
a

5

In [240]:
# 매개변수가 없는 경우
def add():
    return 1+2

In [241]:
a = add()

In [242]:
a

3

# 연습문제 1

 add, sub, mul, div 함수 정의해보기
 add: 더하기, sub: 빼기, mul: 곱하기, div: 나누기

a=1
b=2
c=add(a, b)
d=sub(a, b)
e=mul(a, b)
f=div(a, b)
print(c, d, e, f)

3 -1 2 0

In [250]:
def add(a, b):
    result = a + b
    return result

def sub(a, b):
    result = a - b
    return result

def mul(a, b):
    result = a * b
    return result

def div(a, b):
    result = a / b
    return result

In [251]:
a = 1
b = 2
c = add(a, b)
d = sub(a, b)
e = mul(a, b)
f = div(a, b)
print(c, d, e, f)

3 -1 2 0.5

# 가변 매개변수

 입력 값(매개변수)이 몇 개인지 모를 경우

def 함수이름 (*매개변수명) :
    수행할 문장
    ...

In [254]:
#예) 짝수 개수 구하기
def count_even(n):
    cnt = 0
    for v in n:
        if v % 2 == 0:
            cnt += 1
    return cnt

a = [1,2,3,4,5,6]
count_even(a)

3

def f1(a, *b): # 정상
def f2(a, *b, c): # 에러
def f3(*a, *b): # 에러
def f4(a, b, *c): # 정상

제일 뒤에 가변 매개변수가 등장해야한다.(*이 제일 뒤에 가야함)

# 리스트, 튜플로 대체 가능

In [266]:
# 가변 매개 변수
def count_even_vv(*n):
    cnt = 0
    for v in n:
        if v%2 == 0:
            cnt += 1
    return cnt

In [267]:
def count_even_list(n):
    cnt = 0
    for v in n:
        if v%2 == 0:
            cnt += 1
    return cnt

In [279]:
cnt_even=count_even_vv(1,2,3,4)
cnt_even2=count_even_list([1,2,3,4])
print(cnt_even)
print(cnt_even2)

2
2

# 지역변수, 전역변수

In [270]:
# 지역변수 (Local Variable)
# 함수 안에서 만들어져 함수 안에서만 사용하는 변수
def add_value(a, b):
    add_res = a + b
    return add_res
res = add_value(1,2)
print(add_res) # 에러 발생

300

In [273]:
# 전역변수 (Global Variable)
# 함수 밖에서 만들어져 아무데서나 사용할 수 있는 변수
x = 1
def addX(_x):
    return x +_x
a = 50
a1 = addX(a)
print(a1) # 51

51

In [277]:
# 함수 안에서 전역변수를 선언할 수도 있음
def add(a, b) :
    global add_res # 전역변수로 선언
    add_res= a+b

add(1,2)
print(add_res) # 3

3

# 연습문제 2
양의 정수 n을 입력받아 1부터 n까지 곱해주는
factorial 함수를 작성하시오

In [331]:
def factorial(n):
    if n == 1:
        return 1
    elif n == 0:
        return 1
    else:
        return n * factorial(n-1)

In [332]:
factorial(3)

6

In [333]:
factorial(5)

120

In [334]:
factorial(8)

40320

In [335]:
factorial(1)

1

In [336]:
factorial(0)

1

In [341]:
def factorial2(n):
    result = 1
    for i in range(1,n+1):
        result = result * i
    return result

In [342]:
factorial2(3)

6

In [347]:
factorial2(5)

120

In [348]:
factorial2(8)

40320

In [349]:
factorial2(1)

1

In [350]:
factorial2(0)

1

# 연습문제 3
n과 a를 입력받아 n ^ a 를 계산해주는 거듭제곱 함수
를 작성하시오

In [314]:
def pow(n, a):
    if a == 1:
        return n
    elif a == 0:
        return 1
    else :
        return pow(n, a-1) * n

In [315]:
pow(5,3)

125

In [316]:
pow(4,2)

16

In [317]:
pow(2,4)

16

In [318]:
pow(5,1)

5

In [319]:
pow(5,0)

1

In [367]:
def pow2(n, a):
    result = 1
    for i in range(a):
        result *= n 
    return result

In [368]:
pow2(5,3)

125

In [369]:
pow2(4,2)

16

In [371]:
pow2(2,4)

16

In [372]:
pow2(5,1)

5

In [373]:
pow2(5,0)

1