# 파이썬 프로그래밍 기초 실습1

2020년 1월 13일(월)이름: (    양 명 철     )    이메일: (   jk00085@naver.com      )

# 1. 변수

>>> a = 1   # 변수 할당
>>> b, c, d = 2, 3, 4  # 한번에 여러 변수 할당

실습1)
a, b 에 각각 5, 8을 할당하고 곱셈을 한 값을 result에 저장하여 출력하는 프로그램 작성하기

In [8]:
a = 5
b = 8
print(a ,"*", b, "=", a * b)

5 * 8 = 40

실습2)
x, y 에 각각 10, 20을 할당한 후, 다른 변수 z를 이용하여 두 수를 교환하는 프로그램 작성하기
(단, x, y에 숫자를 할당한 후에는 숫자를 직접 이용하지 않는다.)

In [10]:
x = 10
y = 20
print("before x: ", x , "before y: ", y)

before x:  10 before y:  20

In [11]:
z = x
x = y
y = z
print("after x: ", x , "after y: ", y)

after x:  20 after y:  10

# 2. 문자열

>>> a = 100      # 정수
>>> s1 = "200"    # 문자열(큰 따옴표)
>>> s2 = '300'     # 문자열(작은 따옴표)

>>> print (s1 + s2)
                                  #결과
>>> print                         #s1, s2사용
500

In [12]:
a = 100
s1 = "200"
s2 = '300'

In [13]:
print(s1 +s2)

200300

In [15]:
print(int(s1)+int(s2))

500

실습1)아래의 코드가 정상적으로 동작하도록 수정하시오.
에러메시지 확인 후, 수정하시오

In [16]:
print ("수학 점수는 " + 90 + "점 이다.") #에러있음

TypeError: can only concatenate str (not "int") to str

In [17]:
print ("수학 점수는 " +  str(90) + "점 이다.") #에러있음

수학 점수는 90점 이다.

 # 문자열 합치기 +

In [18]:
print ("life"+"is"+"too short")

lifeistoo short

# 문자열 곱하기 *

In [19]:
print ("python" * 3)

pythonpythonpython

# 문자열 내에 변수의 값을 출력하고 싶으면 %

In [20]:
print ("I eat %d apples." % 3)

I eat 3 apples.

In [21]:
number = 10
day = "three"
print ("I ate %d apples, so I was sick for %s days. " % (number, day))

I ate 10 apples, so I was sick for three days.

# %s 는 어떤 형태든 대입이 가능
(%s는 자동으로 % 뒤의 값을 문자열로 치환)

In [22]:
print ("I eat %s apples." % 3)

I eat 3 apples.

# 코드 채우기

In [23]:
price = int(input("상품의 가격 입력: "))

상품의 가격 입력: 10000

In [26]:
print("상품의 가격은 %d 원입니다." %price)

상품의 가격은 10000 원입니다.

# 문자열 길이 구하기: len() 함수 이용

In [27]:
s = "python"
len(s)

6

# 문자열 Indexing, slicing 활용

In [28]:
s = 'Mission Impossible'
s[10:13]

'pos'

In [ ]:
s1 = "red apple"
s2 = "yellow banana"

In [29]:
s3 = "red banana"                    
print (s3)

red banana

In [31]:
s4 = "yellow apple"                              
print (s4)

yellow apple

# 3. 산술연산자
종류: + , -, *, /, %, // ,**

In [32]:
7 % 3

75

In [33]:
7 // 3

2

In [34]:
2 ** 3

8

In [35]:
2 ** 4 + 5

21

In [36]:
3 * 5 ** 2

75

※ 나누기 연산자의 정수연산이 2.x과 3.x버전의 결과 다름

# 4. 연습문제 (제출파일명: HW1.ipynb)

# (문제 1) PPT(실습 문제1)
화씨온도(℉)를 입력 받아서 섭씨온도(℃)로 바꾸는 프로그램을 작성하시오. (밑줄은 사용자 입력)
C = (F-32)* 5/9

In [37]:
Fal = float(input("화씨온도: "))

화씨온도: 100

In [38]:
Cel = (Fal-32)*5/9
print("섭씨온도:", Cel)

섭씨온도: 37.77777777777778

# (문제 2) 자동 판매기 프로그램 - PPT(실습문제2)

사용자로부터 투입한 돈과 물건 값을 입력 받아, 잔돈을 계산하여 출력한다.
단, 동전의 개수는 최소화 할 것
- 물건 값은 100원 단위
- 자판기의 동전은 500원, 100원만 있음

In [40]:
inputMoney = int(input("plase input Money: "))
price = int (input("please input price: "))

plase input Money: 5000
please input price: 2700

In [47]:
inputMoney = 5000
price = 2700
changeMoney = inputMoney - price

In [48]:
coin500 = changeMoney // 500
changeMoney2 = changeMoney - coin500 * 500
coin100 = changeMoney2 //100

In [49]:
 even_list + odd_listprint("투입한 돈: ", inputMoney)
print("물건값: ", price)
print("거스름돈: ", changeMoney)
print("500원짜리: ", coin500, "개")
print("100원짜리: ", coin100, "개")

투입한 돈:  5000
물건값:  2700
거스름돈:  2300
500원짜리:  4 개
100원짜리:  3 개

# (문제 3) 원의 반지름을 r을 입력 받아, 원의 둘레와 넓이를 구하는 프로그램을 작성하시오

In [50]:
radius = float(input("반지름을 입력하시오:"))
pi = 3.141592

반지름을 입력하시오:50

In [51]:
radius = 5
diameter = 2 * pi * radius
area = pi * radius **2
print("원 둘레: %.2f " % diameter)
print("원 넓이: %.2f" % area)

원 둘레: 31.42
원 넓이: 78.54

# (문제 4) 한 문장을 입력 받아, 아래와 같이 각 알파벳 각 문자를 원소로 갖는 리스트를 작성하시오. (문장중에 ! , . ? –를 제외한 문자의 입력은 고려하지 않는다.)

한 문장을 입력하시오: Python is fun!
['P', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'f', 'u', 'n', '!']

In [52]:
sentence = input("한 문장을 입력하시오: ")

한 문장을 입력하시오: Python is fun!

In [59]:
print(list(sentence))

['P', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'f', 'u', 'n', '!']

# (문제 5) 2개의 정수를 입력 받아, 사칙연산 및 나머지 연산의 결과를 아래와 같이 출력하는 프로그램을 작성하시오.

In [77]:
numbers = input("Enter two integers: ")

Enter two integers: 8 5

In [85]:
a, b = numbers.split()

In [86]:
a = int(a)
b = int(b)

In [88]:
print(a ,"+", b, "=", a+b)
print(a ,"-", b, "=", a-b)
print(a ,"*", b, "=", a*b)
print(a ,"/", b, "=", a/b)
print(a ,"%", b, "=", a%b)

8 + 5 = 13
8 - 5 = 3
8 * 5 = 40
8 / 5 = 1.6
8 % 5 = 3

# (문제 6) 두 정수를 한 문장을 입력하시오: Python is fun!
['P', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'f', 'u', 'n', '!']입력 받아, 합과 평균을 구하여 출력하는 프로그램을 작성하시오.
(평균 소수 첫째 자리까지 나타내기)

In [91]:
numbers = input("Enter two integers: ").split()

Enter two integers: 70 90

In [92]:
numbers = ["70", "91"]
numbers[0] = int(numbers[0])
numbers[1] = int(numbers[1])

In [93]:
print("The sum of %d and %d is %d" %(numbers[0],  numbers[1],  numbers[0] + numbers[1]))
print("The average of %d and %d is %.1f" %(numbers[0] , numbers[1], (numbers[0] + numbers[1])/2))

The sum of 70 and 91 is 161
The average of 70 and 91 is 80.5

# (문제 7) PPT(실습문제4)
아래의 실행예제를 참고하여 프로그램을 작성하라.

날짜(연/월/일)입력: 2020/01/13
입력한 날짜의 10년 후는 2030년 01월 13일

In [94]:
date = input("날짜(연/월/일) 입력: ")

날짜(연/월/일) 입력: 2020/01/13

In [95]:
date2 = date.split('/')
year, month, day = date2
# 언패킹 사용
print("입력한 날짜의 10년 후는 %s년 %s월 %s일 " %(year, month, day))

입력한 날짜의 10년 후는 2020년 01월 13일

# 문자열 함수
대문자/소문자의 변환

In [96]:
s = 'Python is fun!'      
s.upper()      # 소문자 -> 대문자

'PYTHON IS FUN!'

In [97]:
s.lower()       # 대문자 -> 소문자

'python is fun!'

In [98]:
s.swapcase()   # 대소문자 상호 변환

'pYTHON IS FUN!'

In [99]:
s.title()  # 각 단어의 첫 글자만 대문자로 변환

'Python Is Fun!'

# 6. 따라 해보기
range() 함수: 숫자 리스트를 자동으로 만들어 줌

In [100]:
range(5)

range(0, 5)

In [103]:
list(range(5))

[0, 1, 2, 3, 4]

In [101]:
range(1, 6)

range(1, 6)

In [104]:
list(range(1, 6))

[1, 2, 3, 4, 5]

In [102]:
range(1, 7, 2)

range(1, 7, 2)

In [105]:
list(range(1, 7, 2))

[1, 3, 5]

형식
range(start, stop, step)
- start부터 step만큼씩 (증가/감소)하여 stop전까지의 모든 정수의 값을 리스트 형태로 반환
- start와 step은 생략 될 수 있음(단, 생략된 경우 start의 값은 0, step은 1이라고 간주)

In [106]:
range(10)   # range(stop)

range(0, 10)

In [107]:
 range(1, 6)  # range(start, stop)

range(1, 6)

실습1) 1부터 10까지의 리스트 생성
>>>                               
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [111]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

실습2) 10부터 1까지의 리스트 생성
>>>                               
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [117]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

실습3) 1부터 10까지의 짝수 리스트 생성
>>> even_list =                               
>>> even_list
[2, 4, 6, 8, 10]

In [122]:
even_list = list(range(0,10,2))
print(even_list)

[0, 2, 4, 6, 8]

실습4) 1부터 10까지의 홀수 리스트 생성
>>> odd_list =                               
>>> odd_list
[1, 3, 5, 7, 9]

In [123]:
odd_list = list(range(1,10,2))
print(odd_list)

[1, 3, 5, 7, 9]

실습5) 리스트 더하기
>>> even_list + odd_list

In [124]:
even_list + odd_list

[0, 2, 4, 6, 8, 1, 3, 5, 7, 9]